/Script1.class
*/rational_ft_*log.*
*/rational_ft_logframe.html
/*.executiondlr
/*.mstats
/*.rstats
/*.stats
/*.xmoebreport
/bin/
*.executiondlr
*.mstats
*.rstats
*.stats
*.xmoebreport
*_*_????????????????????????????????\.java
/Main.class
/SearchFlight.class
/SignInToClearTrip.class
/SignOut.class
